@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #EEEBE6;
  --accent: #E05540;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: #171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
